.board_container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 5px;
  padding: 4px;
  box-sizing: border-box;
}

.cell {
  display: flex;
  border: 2px solid rgb(58, 58, 60);
  min-width: 60px;
  min-height: 60px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

